.about {
  &__content {
    text-align: center;
  }

  &__header {
    font-size: 44px;
    line-height: 55px;
    margin-bottom: 10px;

    @media (max-width: 800px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__subheader {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: normal;

    @media (max-width: 800px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__text {
    max-width: 555px;
    margin: auto;
  }

  &__items {
    display: flex;
    gap: 30px;
    margin-top: 80px;

    @media (max-width: 1024px) {
      margin-top: 60px;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (max-width: 800px) {
      margin-top: 30px;
    }
  }

  &__item {
    width: 321px;

    &-name {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    &-text {
      margin-top: 30px;
    }
  }
}