.ask {
  padding: 45px 0;
  margin-top: 120px;

  &__wrapper {
    width: 906px;
    height: 431px;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1024px) {
      width: 100%;
      height: 400px;
    }

    @media (max-width: 800px) {
      height: fit-content;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
  }

  &__content {
    height: 100%;
    width: 50%;
    padding: 32px 12px 32px 32px;
    background: linear-gradient(var(--color-white), var(--color-white))
        padding-box,
      linear-gradient(
          -130deg,
          var(--color-primary-blue),
          #ffffff,
          var(--color-primary-blue),
          #ffffff,
          var(--color-primary-blue)
        )
        border-box;
    border: solid 3px transparent;
    border-left: 0;

    @media (max-width: 1024px) {
      width: 60%;
    }

    @media (max-width: 800px) {
      border: none;
      background: none;
      width: 100%;
      padding: 0;
    }
  }

  &__img {
    background-color: var(--color-primary-blue);
    position: relative;
    width: 50%;
    height: 100%;

    @media (max-width: 1024px) {
      width: 40%;
    }
    @media (max-width: 800px) {
      width: 100%;
      height: 254px;
      margin-top: 45px;
    }

    img {
      position: absolute;
      width: 100%;
      height: 503px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      object-fit: contain;
      object-position: bottom;

      @media (max-width: 800px) {
        height: 295px;
      }
    }
  }

  &__header {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;

    @media (max-width: 800px) {
      font-size: 32px;
      line-height: 40px;
      text-align: center;
    }
  }

  &__subheader {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 32px;

    @media (max-width: 800px) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__text {
    margin-bottom: 32px;

    @media (max-width: 800px) {
      font-size: 13px;
      line-height: 21px;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__link {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 25px;
    line-height: 31px;
    font-weight: bold;
    margin-bottom: 18px;

    @media (max-width: 800px) {
      font-size: 18px;
      line-height: 23px;
      margin: 0 auto 10px auto;
      text-align: center;
      justify-content: center;

      img {
        width: 22px;
        height: 22px;
      }
    }
  }

  &__link:last-child {
    margin-bottom: 0;
  }

  &__btn {
    margin-top: 30px;

    @media (max-width: 800px) {
      margin: 30px auto 0 auto;
    }
  }
}
