.bestsellers {
  .wrapper {
    @include flex-center;
    @include flex-column;
    position: relative;
  }

  &__items {
    @include flex-center;
    gap: 30px;
    flex-wrap: nowrap;
    margin-top: 40px;
    position: relative;
    width: 100%;
  }

  .slick-track {
    gap: 32px;

    @media (max-width: 500px) {
      gap: 10px;
    }
  }

  .slick__arrow {
    position: absolute;
  }

  .slick-list {
    // width: calc(320px * 4 + 32px * 3); // 4 panels & 3 gaps between them
    padding: 0;
    width: 100%;
  }

  /* slider custom styles */

  .slick-slide {
    opacity: .2;
  }

  .slick-current,
  .slick-current+.slick-slide,
  .slick-current+.slick-slide+.slick-slide,
  .slick-current+.slick-slide+.slick-slide+.slick-slide {
    opacity: 1;
  }
}