.categories {
  &__content {
    @media (max-width: 1024px) {
      text-align: center;
    }
  }

  &__item {
    user-select: none;

    &-img {
      height: 76px;

      @media (max-width: 800px) {
        height: 60px;

        img {
          height: 60px;
        }
      }
    }

    h4 {
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 10px;

       @media (max-width: 800px) {
        margin-top: 10px;
        margin-bottom: 5px;
      }
    }

    span {
      display: block;
      width: fit-content;
      font-weight: bold;
      color: var(--color-black);
      transition-duration: 0.3s;

      &::after {
        content: '';
        background-color: var(--color-black);
        width: 100%;
        height: 2px;
        display: block;
        margin-top: 7px;
        transition-duration: 0.3s;
      }
    }

    &:hover {
      span {
        color: var(--color-white);

        &::after {
          background-color: var(--color-white);
        }
      }
    }
  }

  &__text {
    margin-bottom: 50px;
  }

  &__link {}

  .slick-track {
    gap: 32px;

    @media (max-width: 800px) {
      gap: 15px;
    }
  }
}