.faq {
  &__wrapper {
    @include flex-center;
    gap: 30px;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
    }

    @media (max-width: 800px) {
      gap: 10px;
    }
  }

  &__content {
    width: 50%;

    @media (max-width: 1024px) {
      @include flex-column;
      width: fit-content;
    }

    &-inner {
      width: 100%;
      max-width: var(--grid-4);
    }
  }

  &__items {
    width: 50%;

    &-inner {
      width: 100%;
      max-width: var(--grid-5);
    }

    @media (max-width: 1024px) {
      width: 100%;
    }
  }
}