.footer {
  padding: 60px 0 0 0;
  background: var(--color-gray);
  margin-top: 180px;

  @media (max-width: 1280px) {
    margin-top: 120px;
  }

  @media (max-width: 1024px) {
    margin-top: 90px;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 30px;

    @media (max-width: 800px) {
      flex-wrap: wrap;
    }
  }

  &__col {
    &--1 {
      width: 46%;

      @media (max-width: 800px) {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    &--2,
    &--3 {
      width: 13%;
      padding-top: 30px;

      @media (max-width: 800px) {
        width: 100%;
        padding-top: 0;

        a {
          margin: auto;
          display: block;
          width: fit-content;
          padding: 6px;
        }
      }

      .footer__menu {
        @media (max-width: 800px) {
          gap: 0;
          width: fit-content;
          align-items: flex-start;

          a {
            padding-left: 0;
          }
        }
      }
    }

    &--4 {
      width: 28%;
      padding-top: 30px;

      @media (max-width: 800px) {
        width: 100%;
        padding-top: 0;
      }

      .footer__menu {
        @media (max-width: 800px) {
          gap: 12px;
          width: fit-content;

          &-item {
            display: flex;
            gap: 10px;

            a {
              display: flex;
              gap: 10px;
            }
          }
        }
      }
    }
  }

  &__logo {
    width: 160px;
    margin-bottom: 20px;

    img {
      @media (max-width: 600px) {
        width: 120px;
      }
    }
  }

  &__desc {
    font-size: 15px;
    line-height: 23px;
    width: 100%;
    max-width: 440px;

    @media (max-width: 800px) {
      max-width: 100%;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__menu-label {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      align-items: center;
      transition-duration: 0.15s;

      &:hover {
        color: var(--color-primary-blue);
      }
    }
  }

  &__menu-icon {
    height: 20px;
    width: fit-content;
    object-fit: contain;
    font-weight: bold;
    display: block;
    margin-right: 12px;

    @media (max-width: 800px) {
      margin: 1px 0 0 0;
    }
  }

  &__menu-item {
    display: flex;

    @media (max-width: 800px) {
      display: block;
    }
  }

  &__bottom {
    padding: 30px 0;
    font-size: 13px;
    border-top: solid 1px var(--color-border);
  }
}
