.footer {
  padding: 60px 0 0 0;
  background: var(--color-darkblue);

  // @media (max-width: 1280px) {
  //   margin-top: 120px;
  // }

  // @media (max-width: 1024px) {
  //   margin-top: 90px;
  // }

  // @media (max-width: 800px) {
  //   margin-top: 0;
  // }

  * {
    color: var(--color-white);
  }

  .wrapper {
    @include flex-column;
  }

  &__top {
    @include flex-space-between;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 24px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  &__col {
    width: 100%;
    max-width: var(--grid-3);
    padding-right: 30px;

    @media (max-width: 1024px) {
      width: calc(50% - 15px);
      max-width: unset;
    }

    @media (max-width: 600px) {
      width: 100% !important;
    }

    &--1 {
      width: var(--grid-4);
      max-width: var(--grid-4);
      min-width: var(--grid-4);

      @media (max-width: 1024px) {
        flex-wrap: nowrap;
        width: calc(50% - 15px);
        min-width: unset;
        max-width: unset;
        order: 1;
      }
    }

    &--2 {
      @media (max-width: 1024px) {
        order: 2;
      }
    }

    &--3 {
      @media (max-width: 1024px) {
        order: 4;
      }

      @media (max-width: 600px) {
        order: 3;
      }
    }

    &--4 {
      @media (max-width: 1024px) {
        order: 3;
      }

      @media (max-width: 600px) {
        order: 4;
      }

      .menu-item {
        @include flex-left;
        align-items: flex-start;
        font-size: 12px;
        gap: 11px;
        text-transform: unset;
        line-height: 22px;
        font-weight: 300;

        a {
          @include flex-left;
          align-items: flex-start;
          font-size: 12px;
          gap: 11px;
          text-transform: unset;
          line-height: 22px;
          font-weight: 300;
        }
      }
    }

    &--5 {
      padding-right: 0;

      @media (max-width: 1024px) {
        order: 5;
      }
    }
  }

  &__logo {
    width: 203px;
    margin-bottom: 25px;

    @media (max-width: 600px) {
      width: 180px;
    }
  }

  &__desc {
    width: 100%;
    max-width: calc(var(--grid-3) - 30px);
    margin-bottom: 48px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;

    @media (max-width: 800px) {
      max-width: 100%;
    }

    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__menu-label {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    gap: 20px;
    @include flex-column;

    a {
      @include flex-left;
      transition-duration: 0.15s;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 15px;

      * {
        transition-duration: 0.15s;
      }

      &:hover {
        opacity: .7;
      }
    }
  }

  &__menu-icon {
    height: 20px;
    width: fit-content;
    object-fit: contain;
    font-weight: bold;
    display: block;
    margin-right: 12px;

    @media (max-width: 800px) {
      margin: 1px 0 0 0;
    }
  }

  &__menu-item {
    display: flex;

    @media (max-width: 800px) {
      display: block;
    }
  }

  &__shipping {
    @include flex-row;
    gap: 41px;

    img {
      max-height: 32px;
    }
  }

  &__bottom {
    @include flex-center;
    width: 100%;
    gap: 50px;
    padding: 20px 0;
    font-size: 12px;
    line-height: 22px;

    @media (max-width: 500px) {
      justify-content: flex-start;
      gap: 30px;
    }
  }
}