.header {
  /* structure */
  @include flex-center;
  @include flex-column;
  @include fixed;
  @include transition;
  z-index: 100;
  height: var(--header-height);

  @media (max-width: 1024px) {
    height: var(--header-height-mobile);
  }

  .wrapper {
    @include flex-space-between;
    @include flex-nowrap;
  }

  &__top {
    background: var(--color-black);
    width: 100%;
    height: var(--header-top);
    display: flex;

    @media (max-width: 1024px) {
      display: none;
    }

    * {
      color: var(--color-white);
      font-size: 12px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      @include flex-center;
      gap: 60px;

      @media (max-width: 1280px) {
        gap: 30px;
      }
    }

    .link--icon:hover span,
    a:hover {
      color: var(--color-border-dark);

      svg path {
        fill: var(--color-border-dark);
      }
    }

    &-contact {
      @include flex-center;
      gap: 32px;

      @media (max-width: 1024px) {
        background-color: var(--color-black);
        width: 100%;
        flex-direction: column;
        padding: 16px 8px 30px 8px;
        align-items: flex-start;
        gap: 16px;
        position: absolute;
        bottom: 0;

        .link--icon {
          font-size: 20px;
          gap: 16px;
          color: var(--color-white);
        }
      }
    }
  }

  &__middle {
    background: var(--color-darkblue);
    width: 100%;
    height: var(--header-top);
    display: flex;

    @media (max-width: 1024px) {
      min-height: var(--header-top-mobile);
      height: var(--header-top-mobile);
      overflow: hidden;

      .wrapper {
        position: relative;
        height: fit-content;
        transition-duration: .3s;
        @include flex-column;
        top: 0;
      }
    }
  }

  &__info-item {
    @include flex-center;
    @include gap(var(--p-m));
    color: var(--color-white);
    white-space: nowrap;
    font-weight: bold;
    font-size: 12px;
    gap: 10px;

    @media (max-width: 1024px) {
      height: var(--header-top-mobile);
      font-size: 9px;

      img {
        height: 11px;
      }
    }
  }

  &__bottom {
    @include flex-center;
    background: var(--color-gray);
    width: 100%;
    height: var(--header-bottom);

    @media (max-width: 1024px) {
      background: var(--color-white);
    }
  }

  &__logo {
    width: 203px;
    margin: 0;

    @media (max-width: 1024px) {
      width: 117px;
    }

    a,
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      color: var(--color-blue);
      text-transform: uppercase;
      font-size: 31px;
    }
  }

  &__nav {
    @include flex-center;
    @include transition;

    @media (max-width: 1024px) {
      @include fixed;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      height: calc(0vh - var(--header-height-mobile));
      top: var(--header-height-mobile);
      left: 0;
      background-color: var(--color-white);
      overflow: hidden;
    }

    &-inner {
      @include flex-center;

      @media (max-width: 1024px) {
        @include flex-column;
        gap: 30px;
        width: 100%;
        padding: 20px 8px;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    ul {
      @include flex-center;
      gap: 45px;
      white-space: nowrap;
      padding: 0;
      margin: 0;

      @media (max-width: 1280px) {
        gap: 30px;
      }

      @media (max-width: 1024px) {
        gap: 8px;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-bottom: 8px;
      }

      .menu-item {
        @include flex-center;
        display: block;
        text-align: center;

        &-has-children {
          .menu-arrow {
            display: inline-block;
            width: 5px;
            height: 5px;
            margin-left: 10px;
            @include transition;
            transform: rotate(45deg);
            border: none;
            border-bottom: solid 2px var(--color-black);
            border-right: solid 2px var(--color-black);
            top: -3px;
            position: relative;
          }
        }

        a {
          position: relative;
          padding: 5px;
          font-weight: 600;
          font-size: 12px;
          text-transform: uppercase;
          line-height: 15px;
          transition-duration: .3s;

          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 1px;
            background-color: var(--color-black);
            transition-duration: .3s;
            bottom: -3px;
            margin: auto;
            left: 0;
            right: 0;
          }

          &:hover {
            color: var(--color-darkblue);

            &::before {
              width: 100%;
              background-color: var(--color-darkblue);
            }
          }

          @media (max-width: 1024px) {
            font-size: 24px;
            line-height: normal;
          }
        }

        .current-menu-item {
          a {
            color: var(--color-blue);
          }
        }

        .sub-menu {
          position: absolute;
          padding: 0;
          background-color: var(--color-white);
          box-shadow: 0px 3px 6px #00000029;
          @include transition;
          @include flex-center;
          @include flex-column;
          visibility: hidden;
          opacity: 0;
          z-index: 101;

          @media (max-width: 1024px) {
            @include flex-column;
            @include transition;
            position: relative;
            box-shadow: none;
            padding: 0;
            width: 100%;
            margin: auto;
            overflow: hidden;
            height: 0;

            .menu-item {
              margin: 0;
              padding: 0;
            }

            &.active {
              height: fit-content;
              visibility: visible;
              opacity: 1;
            }
          }
        }

        a:hover+.sub-menu,
        .sub-menu:hover {
          visibility: visible;
          opacity: 1;
        }
      }

      .current-menu-item {
        color: var(--color-blue);
      }
    }
  }

  &__icons {
    @include flex-center;
    margin-left: 50px;
    gap: 20px;
    transition-duration: .3s;

    @media (max-width: 1024px) {
      margin-left: 0;
      position: fixed;
      top: 59px;
      right: 65px;
    }

    @media (max-width: 800px) {
      right: 57px;
    }
  }

  &__cart,
  &__account {
    height: 22px;
    width: 22px;
    min-height: 22px;
    min-width: 22px;
  }

  &__cart {
    position: relative;
    display: block;

    &-icon {
      width: 100%;
      height: 100%;
    }

    &-count-number {
      object-fit: contain;
      min-width: 19px;
      height: 19px;
      color: var(--color-white);
      background-color: var(--color-darkblue);
      border-radius: 9.5px;
      font-size: 12px;
      font-weight: bold;
      position: absolute;
      bottom: -9px;
      right: -9px;
      text-align: center;
      line-height: 19px;
      z-index: 1;
    }
  }

  &__search {
    width: var(--grid-3);
    margin-right: 130px;

    @media (max-width: 1280px) {
      margin-right: 90px;
      width: 220px;
    }

    @media (max-width: 1024px) {
      margin-right: 0;
      width: 100%;
      max-width: var(--grid-3);
    }
  }

  &__menu-btn {
    @include flex-center;
    position: relative;
    width: calc(var(--icon-l) + 6px);
    height: calc(var(--icon-l) + 6px);
    padding: 3px;
    border: none;
    background-color: transparent;
    z-index: 102;
    display: none;

    @media (max-width: 1024px) {
      display: flex;
    }

    &::after,
    &::before {
      content: '';
      @include transition;
      position: absolute;
      width: 100%;
      border-top: solid 2px var(--color-black);
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &::before {
      height: 18px;
      border-bottom: solid 2px var(--color-black);
    }

    &::after {
      height: 0;
    }

    &:hover {

      &::after,
      &::before {
        border-color: var(--color-blue);
      }

      &::before {
        height: 24px;
      }
    }
  }

  &--scrolled {
    top: calc(var(--header-top) * -2);
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);

    @media (max-width: 1024px) {
      top: calc(var(--header-top-mobile) * -1);

      .header {
        &__icons {
          top: calc(59px - var(--header-top-mobile));
        }
      }
    }
  }

  &--scrolled-top {
    top: 0;

    @media (max-width: 1024px) {
      .header {
        &__icons {
          top: 59px;
        }
      }
    }
  }

  &--active {
    @media (max-width: 1024px) {
      top: 0;

      .header {
        &__icons {
          top: 59px;
        }

        &__nav {
          height: calc(100vh - var(--header-height-mobile));
        }
      }
    }
  }

  .back-to-cart {
    display: none;
  }

  &__menu-toggle {
    display: none;
    cursor: pointer;
    width: 23px;
    height: 18px;
    position: absolute;
    top: 62px;
    right: 16px;
    border: none;
    background: transparent;
    padding: 0;
    align-items: center;
    justify-content: center;

    @media (max-width: 800px) {
      right: 8px;
    }

    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--color-black);
      position: relative;
      transition-duration: .3s;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        background-color: var(--color-black);
        transition-duration: .3s;
        transform: scale(1) rotate(0deg);
      }

      &::before {
        top: -8px;
      }

      &::after {
        top: 8px;
      }
    }
  }

  &__menu-toggle {
    display: none;

    @media (max-width: 1024px) {
      display: block;
    }
  }

  &--active {
    .header {
      &__menu-toggle {
        span {
          background-color: transparent;

          &::before {
            transform: scale(0.75) rotate(-45deg);
            top: 0;
          }

          &::after {
            transform: scale(0.75) rotate(45deg);
            top: 0;
          }
        }
      }
    }

    &__nav {
      height: calc(100vh - var(--header-height-mobile)) !important;
    }
  }
}