.hero {
  min-height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0 !important;

  @media (max-width: 800px) {
    height: calc(100vh - 80px);
  }

  .wrapper {
    @media (max-width: 800px) {
      gap: 15px;
    }
  }

  &__slider-wrapper {
    position: relative;
    width: 100%;

    @media (max-width: 800px) {
      height: calc(100vh - 80px - 60px);

      &+.wrapper {
        height: 60px;
      }
    }
  }

  &__slick {
    @media (max-width: 800px) {
      height: 100%;

      .slick__arrow {
        top: 25%;
        bottom: auto;
      }
    }
  }

  &__header {
    font-size: 57px;
    line-height: 71px;

    @media (max-width: 1280px) {
      font-size: 42px;
      line-height: 50px;
    }

    @media (max-width: 800px) {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 10px;
    }
  }

  &__subheader {
    font-size: 31px;
    line-height: 39px;
    font-weight: normal;

    @media (max-width: 1280px) {
      font-size: 24px;
      line-height: 30px;
    }

    @media (max-width: 800px) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }

  &__text * {
    @media (max-width: 800px) {
      font-size: 13px;
      line-height: 21px;
      text-align: center;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    width: 100% !important;
    padding-left: 90px;
    padding-right: 90px;

    @media (max-width: 800px) {
      padding: 0;
    }

    &--wide {
      .hero {

        &__content,
        &__img {
          padding: 0;
        }

        &__content {
          @media (max-width: 800px) {
            z-index: 4;
            position: absolute;
            height: 100%;
            padding: 10px 40px;
            justify-content: center;
          }
        }

        &__header {
          font-size: 83px;
          line-height: 104px;
          font-weight: bold;

          @media (max-width: 1280px) {
            font-size: 60px;
            line-height: 68px;
          }

          @media (max-width: 800px) {
            font-size: 40px;
            line-height: 48px;
            text-align: center;
          }

          b {
            color: #02bf1b;
            font-size: 57px;
            line-height: 71px;
            display: block;
            padding: 28px 42px 28px 28px;
            background-color: var(--color-white);
            border-radius: 5px;
            font-weight: bold;
            width: fit-content;
            text-transform: uppercase;
            text-shadow: none;
            margin: 33px 0 17px 0;
            box-shadow: 0 0 20px var(--color-primary-blue);

            @media (max-width: 1280px) {
              font-size: 42px;
              line-height: 50px;
              padding: 15px 30px 15px 15px;
              margin: 15px 0 8px 0;
            }

            @media (max-width: 800px) {
              font-size: 32px;
              line-height: 40px;
              text-align: center;
            }
          }
        }

        &__subheader {
          font-size: 57px;
          line-height: 71px;
          font-weight: bold;

          @media (max-width: 1280px) {
            font-size: 42px;
            line-height: 50px;
          }

          @media (max-width: 800px) {
            font-size: 32px;
            line-height: 40px;
            text-align: center;
          }
        }

        &__text * {
          font-size: 25px;
          line-height: 31px;
          font-weight: bold;

          @media (max-width: 1280px) {
            font-size: 20px;
            line-height: 24px;
          }

          @media (max-width: 800px) {
            font-size: 13px;
            line-height: 21px;
            text-align: center;
          }
        }

        &__btn {
          font-size: 23px;
          line-height: 29px;
          font-weight: bold;
          height: 57px;
          min-width: 235px;

          @media (max-width: 800px) {
            height: 40px;
            font-size: 16px;
            line-height: 20px;
          }
        }

        &__img {
          position: absolute;
          right: 0;
          height: 100%;
          width: 100%;
          z-index: 0;

          @media (max-width: 1024px) {
            &::after {
              content: '';
              display: block;
              opacity: 0.5;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background-color: var(--color-white);
              z-index: 3;
            }
          }

          img {
            margin: 0 0 0 auto;
            width: fit-content;

            @media (max-width: 1450px) {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }

            @media (max-width: 800px) {
              object-fit: cover;
            }
          }
        }
      }
    }

    &--blue {
      background-color: var(--color-primary-blue);

      .hero {
        &__img {
          @media (max-width: 1024px) {
            &::after {
              background-color: var(--color-primary-blue);
            }
          }
        }
      }

      * {
        color: var(--color-white);
        text-shadow: 0 0 30px var(--color-primary-blue);
      }
    }
  }

  &__item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;

    @media (max-width: 800px) {
      flex-direction: column-reverse;
      padding: 0;
      margin: 0 !important;
      height: 100%;
    }
  }

  &__scroll {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__content,
  &__img {
    padding: 90px 0;

    @media (max-width: 1024px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media (max-width: 800px) {
      padding: 0;
    }
  }

  &__content {
    z-index: 1;

    @media (max-width: 800px) {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 30px 15px;
      height: fit-content;
    }
  }

  &__img {
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition-duration: 0.3s;

    @media (max-width: 800px) {
      height: 50%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    margin-top: 32px;

    @media (max-width: 800px) {
      margin-top: 15px;
    }
  }

  &__scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    font-size: 15px;
    margin-top: 23px;
    animation: blink 4s linear infinite;

    @media (max-width: 1280px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 800px) {
      height: 60px;
      margin: auto;
    }
  }

  .slick {
    &-list {
      position: relative;
      z-index: 1;

      @media (max-width: 800px) {
        height: 100%;
      }
    }

    &-track {
      @media (max-width: 800px) {
        height: 100%;
      }
    }

    &-arrow {
      z-index: 2;
      position: absolute;

      &.slick-prev {
        @media (max-width: 1450px) {
          left: 30px;
        }

        @media (max-width: 800px) {
          left: 5px;
        }
      }

      &.slick-next {
        @media (max-width: 1450px) {
          right: 30px;
        }

        @media (max-width: 800px) {
          right: 5px;
        }
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}