.map {
  .wrapper {
    @include flex-column;
    @include flex-center;
  }

  &__content {
    max-width: var(--grid-6);
    height: auto;
    width: 100%;
    margin: 40px auto 0 auto;

    a {
      display: block;

      @media (max-width: 800px) {
        position: relative;
        width: 100vw;
        height: 100vw;

        img {
          object-fit: cover;
        }
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__address {
    display: flex;
    align-items: flex-start;
    gap: 11px;
    font-size: 14px;
    // padding-right: 34px;
    margin-top: 30px;
  }
}