.newest-products {
  position: relative;
  padding: 80px 0;

  .wrapper {
    @include flex-column;
  }

  &__items {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: nowrap;
    margin-top: 40px;
  }

  &__link {
    margin-top: 50px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }

  &__items {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: nowrap;
    margin-top: 40px;
    position: relative;
  }

  &__link {
    margin-top: 50px;
  }

  .product__featured {
    display: none;
  }

  .slick__arrow {
    position: absolute;
  }

  .slick-track {
    gap: 32px;

    @media (max-width: 500px) {
      gap: 10px;
    }
  }

  .slick-list {
    width: calc(320px * 4 + 32px * 3); // 4 panels & 3 gaps between them
    padding: 0;

    @media (max-width: 1450px) {
      width: 100%;
      padding: 0 15px;
    }

    @media (max-width: 500px) {
      width: 100%;
      padding: 0 30px;
    }
  }
}