.product-related {
  &__heading {
    text-align: center;
    margin: 0 0 10px 0;
  }

  &__subheading {
    text-align: center;
    margin: 0 0 30px 0;
  }

  &__description {
    padding: 0 20px;
    text-align: center;
    margin-bottom: 40px;
  }
}
