.text-and-logos {
  padding: 45px 0;

  &__wrapper {
    @include flex-center;
    @include flex-column;
    width: 100%;
  }

  &__logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 36px;
    width: 100%;
  }

  &__logo {
    @include flex-center;
    padding: 11px;
    user-select: none;
    pointer-events: none;

    img {
      max-height: 103px;
    }
  }

  .slick-track {
    @include flex-center;
    gap: 30px;

    @media(max-width: 500px) {
      gap: 10px;
    }
  }

  .slick-list {
    padding: 0;
    width: 100%;
  }
}