.text-and-image {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;

    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &--right {
    .text-and-image {
      &__wrapper {
        flex-direction: row;

        @media (max-width: 800px) {
          flex-direction: column;
        }
      }

      &__content {
        padding-right: 145px;

        @media (max-width: 1280px) {
          padding-right: 90px;
        }

        @media (max-width: 1024px) {
          padding-right: 60px;
        }

        @media (max-width: 800px) {
          padding-right: 0;
        }
      }
    }
  }

  &--left {
    .text-and-image {
      &__wrapper {
        flex-direction: row-reverse;

        @media (max-width: 800px) {
          flex-direction: column;
        }
      }

      &__content {
        padding-left: 145px;

        @media (max-width: 1280px) {
          padding-left: 90px;
        }

        @media (max-width: 1024px) {
          padding-left: 0;
        }
      }
    }
  }

  &__header {
    font-size: 44px;
    line-height: 55px;

    @media (max-width: 800px) {
      font-size: 32px;
      line-height: 40px;
      text-align: center;
    }
  }

  &__subheader {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 32px;
    font-weight: normal;

    @media (max-width: 800px) {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }
  }

  &__text {
    max-width: 555px;

    @media (max-width: 1280px) {
      max-width: unset;
    }

    ul {
      padding-left: 20px;

      li {
        list-style: none;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          display: block;
          left: -20px;
          top: 8px;
          width: 9px;
          height: 9px;
          background-color: var(--color-primary-blue);
          border-radius: 50%;
          margin-right: 11px;
        }
      }
    }
  }

  &__btn {
    margin-top: 32px;
  }

  &__content {
    width: 58%;

    @media (max-width: 800px) {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  &__img {
    width: 42%;

    @media (max-width: 800px) {
      width: 100%;
      margin: 0;
      padding: 0 !important;
    }
  }

  .no-desktop {
    @media (max-width: 800px) {
      display: block !important;
    }

    @media (min-width: 801px) {
      display: none !important;
    }
  }

  .no-mobile {
    @media (max-width: 800px) {
      display: none !important;
    }

    @media (min-width: 801px) {
      display: block !important;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    margin: 32px 0;
    gap: 20px;

    @media (max-width: 800px) {
      justify-content: center;
    }

    &-text {
      font-weight: bold;
    }

    &-img {
      max-height: 60px;
      max-width: 60px;
      object-fit: contain;
      display: block;
    }
  }

  &__img {
    display: flex;
    justify-content: flex-end;
    position: relative;

    @media (max-width: 800px) {
      width: 100%;
      right: 0;
    }

    &-inner {
      overflow: hidden;
      position: relative;
    }

    &-front {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    &-logo {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 234px;
      transform: translate(-50%, 33.33%);

      @media (max-width: 1024px) {
        max-width: 160px;
      }

      @media (max-width: 800px) {
        position: relative;
        margin: 30px auto 0;
        left: 0;
        right: 0;
        transform: none;
      }
    }
  }

  &__text {
    @media (max-width: 800px) {
      text-align: center;
    }
  }

  &__btn {
    @media (max-width: 800px) {
      margin: 30px auto 15px auto;
    }
  }
}
