.text-and-icons {
  &__wrapper {
    @include flex-center;
    gap: 30px;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }

  &__content,
  &__icons {
    width: calc(50% - 15px);
    max-width: var(--grid-6);

    @media (max-width: 1400px) {
      width: 100%;
      max-width: unset;
    }
  }

  &__content {
    &>* {
      max-width: var(--grid-5);

      @media (max-width: 800px) {
        max-width: unset;
      }
    }
  }

  &__icons {
    @include flex-wrap;
    gap: 30px;

    @media (max-width: 1400px) {
      flex-direction: column;
    }
  }

  &__item {
    @include flex-left;
    gap: 30px;
    width: calc(50% - 15px);

    @media (max-width: 1400px) {
      width: 100%;
    }

    @media (max-width: 1280px) {
      gap: 20px;
    }

    h4 {
      font-size: 27px;
      font-weight: bold;
      line-height: 33px;
      text-transform: uppercase;

      span {
        display: block;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        margin-top: 3px;
      }
    }
  }
}