.text-and-image {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;

    @media (max-width: 1024px) {
      justify-content: flex-start;
      align-items: flex-start;
      height: 65vw;
    }
  }

  &__header {
    font-size: 44px;
    line-height: 55px;
  }

  &__subheader {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 32px;
  }

  &__btn {
    margin-top: 50px;
  }

  &__content,
  &__img {
    width: 50%;
  }

  &__content {
    @media (max-width: 1024px) {
      background: rgba(255, 255, 255, 0.85);
      border-radius: 10px;
      padding: 30px;
      width: 65%;
      position: relative;
      z-index: 1;
      left: 0;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    }
  }

  &__img {
    display: flex;
    justify-content: flex-end;
    position: relative;

    @media (max-width: 1024px) {
      width: 65%;
      position: absolute;
      right: -7.5%;
      top: 0;
    }

    &-wrapper {
    }

    &-inner {
      overflow: hidden;
      position: relative;
    }

    &-bg {
    }

    &-front {
      position: absolute;
      top: 0;
      left: 0;
    }

    &-logo {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 234px;
      transform: translate(-50%, 33.33%);

      @media (max-width: 1024px) {
        max-width: 160px;
      }

      @media (max-width: 800px) {
        right: 11.5%;
        left: auto;
        transform: none;
      }
    }
  }
}
