.cross-sells {
  padding: 45px 0;

  .wrapper {
    @include flex-column;
    @include flex-center;
  }

  .products__list {
    margin-top: 40px;
  }

  .slick-track {
    gap: 32px;
    width: fit-content !important;

    @media (max-width: 500px) {
      gap: 10px;
    }
  }

  .slick__arrow {
    position: absolute;
  }

  .slick-list {
    width: calc(320px * 4 + 32px * 3); // 4 panels & 3 gaps between them
    padding: 0;

    @media (max-width: 1450px) {
      width: 100%;
      padding: 0 15px;
    }

    @media (max-width: 500px) {
      width: 100%;
      padding: 0 30px;
    }
  }
}