.product,
.cross-sells-product,
.wc-block-grid__product,
.wc-block-grid.has-4-columns:not(.alignwide):not(.alignfull) .wc-block-grid__product {
  border: solid 1px var(--color-border);
  max-width: 320px;
  min-width: 320px;
  height: 528px;
  list-style: none;
  padding: 60px 10px 10px 10px;
  position: relative;
  background-color: var(--color-white);
  transition-duration: .3s;

  @media (max-width: 500px) {
    min-width: calc(100vw - 60px) !important;
    max-width: calc(100vw - 60px) !important;
    padding-top: 40px;
    height: 420px;
  }

  &:hover {
    border-color: var(--color-primary-blue);
    box-shadow: 0 0 0 2px var(--color-primary-blue) inset;
  }

  &__featured {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    z-index: 1;
  }

  &__variant-form {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 321px;
    max-width: 100%;

    .select {
      width: 100%;
    }
  }

  &__tabs {
    margin: 120px 0;
  }

  .onsale {
    display: none;
  }

  &__nfz {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 87px;
    height: auto;
    z-index: 3;
    object-fit: contain;
  }

  .btn {
    @media (max-width: 500px) {
      height: 40px;
    }
  }

  .woocommerce-loop-product__link,
  .wc-block-grid__product-link {
    text-align: center;

    img {
      width: 239px;
      height: 239px;
      margin: 0 auto 10px auto;
      display: block;
      user-select: none;
      ;

      @media (max-width: 500px) {
        height: 170px;
        width: 100%;
      }
    }
  }

  h2,
  .wc-block-grid__product-title {
    font-size: 17px;
    text-align: center;
    height: 41px;
    overflow: hidden;

    @media (max-width: 500px) {
      line-height: normal;
    }
  }

  .input__number-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  .price {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;

    bdi {
      font-size: 22px;
      font-weight: bold;
    }

    del {
      bdi {
        font-size: 17px;
      }
    }

    ins {
      text-decoration: none;
      color: var(--color-red);
    }
  }

  .price-amount {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    gap: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
  }

  .no-price {
    line-height: 33px;

    bdi {
      color: var(--color-red);
      font-weight: normal;
      font-size: 15px;
      height: 33px;
      line-height: 33px;
    }
  }

  .price-has-variants {
    bdi {
      font-weight: normal;
      font-size: 15px;
      height: 33px;
      line-height: 33px;
    }
  }

  &__quantity,
  &__add-to-cart {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__add-to-cart {
    .btn {
      width: 100%;
      max-width: 204px;
    }
  }

  &.outofstock {
    .btn {
      opacity: 0.5;
      pointer-events: none;
    }

    .input__number {

      button,
      input {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  &.product-type-variable {
    .btn {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.wc-block-grid__products {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: nowrap !important;
  margin: 40px auto 0 auto !important;
  position: relative;
  width: 100%;

  .woocommerce-Price-amount {
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }

  .slick-track {
    gap: 32px;

    @media (max-width: 500px) {
      gap: 10px;
    }
  }

  .slick__arrow {
    position: absolute;
  }

  .slick-list {
    width: calc(320px * 4 + 32px * 3); // 4 panels & 3 gaps between them
    padding: 0;

    @media (max-width: 1450px) {
      width: 100%;
      padding: 0 15px;
    }

    @media (max-width: 500px) {
      width: 100%;
      padding: 0 30px;
    }
  }

  .wc-block-grid__product-onsale {
    display: none !important;
  }
}