.products {
  margin-top: 0;

  &__wrapper {
    display: flex;
    gap: 30px;
    position: relative;

    @media (max-width: 1280px) {
      flex-direction: column;
      gap: 0;
      width: 1024px;
      margin: auto;
      max-width: 100%;
    }

    @media (max-width: 1024px) {
      padding-top: 30px;
    }
  }

  .product {
    @media (max-width: 500px) {
      min-width: 100% !important;
      max-width: 100% !important;
      width: 100% !important;
    }
  }

  &__list-wrapper {
    position: relative;
    width: calc(100% - 320px - 30px);

    @media (max-width: 1280px) {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 0;

    @media (max-width: 800px) {
      gap: 20px 10px;
    }

    &:before {
      content: none !important;
    }

    &--list {
      flex-direction: column;
    }
  }

  .woof_container {
    border-bottom: solid 1px var(--color-border);
  }

  .woof_checkbox_instock_container,
  .woof_checkbox_sales_container {
    .woof_container_inner {
      display: flex;
      align-items: center;
    }
  }

  .woof_checkbox_instock_container,
  .woof_redraw_zone> :nth-last-child(2) {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &__result-count {
    height: fit-content;
    width: 100%;
    margin: 0;
    @include flex-row-end;
    position: absolute;
    top: -25px;
    right: 0;
    transform: translateY(-100%);
    z-index: 2;
    max-width: var(--grid-3);
    // padding-bottom: 25px;

    @media (max-width: 1280px) {
      transform: none;
    }
  }

  .woocommerce-result-count {
    display: none;
  }

  .woof_reset_search_form {
    border: none;
    text-align: center;
    margin: 15px auto 0 auto;
    background: none;
    padding: 5px;
    font-weight: bold;
    border-bottom: solid 2px var(--color-black);
    transition-duration: 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }

  .woof_container_inner {
    h4 {
      font-weight: bold;
      margin: 20px 0;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
    }
  }

  .woof_price3_search_container {
    h4 {
      margin-top: 0;
    }
  }

  .irs--round.irs-with-grid {
    margin-top: -20px;
  }

  .woof_container_inner {
    margin-bottom: 19px;
    padding: 0;

    label {
      position: relative;
      padding: 0 0 0 5px;
      margin: 0;
      font-size: 15px;
      line-height: 24px;
      font-weight: normal;
    }
  }

  .woof_list_checkbox {
    li {
      margin: 0 0 20px 0;
      font-size: 15px;
      line-height: 24px;
      font-weight: normal;
    }
  }

  .icheckbox_square-blue,
  .iradio_square-blue {
    width: 23px;
    height: 23px;
    border: solid 1px #32343A;
    margin-top: 0;
    background: none;

    &.checked {
      background-color: var(--color-blue);
      border-color: var(--color-blue);
    }
  }

  .icheckbox_square-blue {
    position: relative;

    &.checked {
      &::after {
        content: '';
        position: absolute;
        border: solid 2px var(--color-white);
        border-top: none;
        border-left: none;
        top: 2px;
        left: 7px;
        width: 6px;
        height: 14px;
        transform: rotate(45deg);
      }
    }

    &.disabled {
      opacity: 0.4;
      pointer-events: none;

      &+label {
        opacity: 0.4;
        pointer-events: none;
      }
    }
  }

  ul.page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
    list-style: none;
    margin: 80px auto 0 auto;
    padding: 0;

    li {
      font-size: 22px;
      line-height: 28px;
      font-weight: bold;
      margin: 0;

      span {
        font-weight: bold;
        color: var(--color-border);

        &.current {
          color: var(--color-black);
        }
      }

      a {
        color: var(--color-border);
      }
    }

    .btn--arrow {
      width: 50px !important;
      height: 50px !important;
    }
  }

  &-desc {
    padding-bottom: 0 !important;
    margin: 40px 0 30px 0;

    &__heading,
    &__subheading,
    &__description {
      max-width: var(--grid-3);
    }

    &__description {
      font-size: 14px;
      line-height: 22px;

      @media (max-width: 800px) {
        font-size: 12px;
      }
    }
  }
}

.woocommerce-info {
  margin-top: 5px;
  margin-bottom: 30px;

  a {
    text-decoration: underline;

    &:hover {
      color: var(--color-blue);
    }
  }
}

.woocommerce-notices-wrapper {
  height: fit-content;

  .container {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    padding: 0 !important;
  }
}

/* plugins override */

.products {

  /* HUSKY filters */

  .woof_products_top_panel_content {
    display: none;
  }

  .woof_products_top_panel {
    width: var(--grid-6);
    max-width: var(--grid-6);
    position: absolute;
    margin: 0;
    height: fit-content;
    transform: translateY(-100%);
    padding-bottom: 25px;
    display: none !important;
  }

  .woof_products_top_panel_ul {
    @include flex-column;
    width: 100%;

    li {
      display: flex;
      position: relative;
      line-height: 18px;
      margin-top: 5px;

      .woof_remove_ppi {
        background: none !important;
        padding: 0;
        margin-right: 10px;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 5px;
          width: 1px;
          height: 10px;
          background: var(--color-red);
          right: 9px;
          z-index: 1;
          display: none;
        }

        &::after {
          transform: rotate(45deg);
        }

        &::before {
          transform: rotate(-45deg);
        }
      }

      ul {
        li {
          a {
            &:hover {
              color: var(--color-blue);
            }
          }
        }
      }
    }

    .woof_reset_button_2 {
      margin: 0;
      padding-top: 0;
      position: relative;
      color: transparent;

      &::after {
        content: "Wyczyść";
        color: var(--color-black);
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
      }
    }
  }
}