.product-category {
  width: 202px;
  height: 202px;
  text-align: left;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border: solid 1px var(--color-border);
  background: var(--color-white);
  overflow: hidden;
  z-index: 1;
  @include transition;

  * {
    @include transition;
  }

  a {
    z-index: 10;
  }

  img {
    height: 76px;
    width: fit-content;
    display: block;
    object-fit: contain;
    max-width: 100%;
  }

  h2 {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
  }

  &:hover {
    span {
      color: var(--color-white);

      &::after {
        background-color: var(--color-white);
      }
    }
  }

  mark {
    background: none;
    margin: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    border: solid 3px transparent;
    @include transition;
    opacity: 0;
    z-index: 2;
    animation: 8s rotateAnimation linear infinite;
    background: linear-gradient(var(--color-blue),
        var(--color-blue)) padding-box,
      linear-gradient(var(--angle),
        var(--color-blue),
        #ffffff,
        var(--color-blue),
        #ffffff,
        var(--color-blue)) border-box;
  }

  &:hover {
    border-color: transparent;

    &::before {
      opacity: 1;
    }

    * {
      color: var(--color-white);
    }

    img {
      filter: contrast(0) brightness(2);
    }
  }
}