body .single-product {
  border: none;
  width: 100%;
  max-width: none;
  padding: 0;
  margin-top: 60px;
  height: auto;

  &:hover {
    box-shadow: none !important;
    border-color: transparent !important;
  }

  @media (max-width: 1024px) {
    margin-top: 30px;
  }

  @media (max-width: 500px) {
    max-width: unset !important;
    min-width: unset !important;
  }

  &__main {
    display: flex;
    gap: 30px;

    @media (max-width: 1400px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__gallery {
    width: calc(50% - 15px);
    position: relative;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  &__summary {
    width: calc(50% - 15px);

    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  &__title {
    max-width: 542px;
    font-size: 39px;
    line-height: 42px;
    margin: 0 0 20px 0;
    text-align: left;
    height: fit-content;
    overflow: unset;

    @media (max-width: 1024px) {
      max-width: unset;
    }

    @media (max-width: 800px) {
      font-size: 24px;
      line-height: normal;
    }
  }

  &__category-name {
    font-size: 12px;
    line-height: 23px;
    margin: 20px 0;
  }

  .price {
    .price {
      width: fit-content;
    }

    .price-amount {
      width: fit-content;
      display: block;
      max-width: none;
    }

    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    margin: 20px 0 5px 0;

    bdi {
      font-size: 32px;
      line-height: 40px;
    }

    del bdi {
      font-size: 25px;
      line-height: 31px;
    }
  }

  .woocommerce-product-details__short-description {
    .price {
      width: 100%;
      justify-content: flex-end;
    }
  }

  &__lowest-price {
    font-size: 12px;
    line-height: 23px;
    margin: 5px 0 30px 0;
  }

  & .product {
    &__quantity {
      margin-top: 0;
    }

    &__form {
      display: flex;
      gap: 20px;
      align-items: center;

      @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
      }

      .input__number {
        width: 122px;

        @media (max-width: 800px) {
          width: 200px;
        }

        @media (max-width: 500px) {
          width: fit-content;
        }

        &-minus {
          min-width: 35px;
          padding-left: 15px;

          @media (max-width: 800px) {
            min-width: 60px;
            padding-left: 0;
          }

          @media (max-width: 500px) {
            min-width: 33px;
            width: 33px;
          }
        }

        &-plus {
          min-width: 35px;
          padding-right: 15px;

          @media (max-width: 800px) {
            min-width: 60px;
            padding-left: 0;
          }

          @media (max-width: 500px) {
            min-width: 33px;
            width: 33px;
          }
        }
      }

      .btn {
        height: 46px;
      }
    }
  }

  &__table {
    width: 321px;
    max-width: 100%;

    tr:not(:last-child) {
      border-bottom: solid 1px var(--color-border);
    }

    th {
      padding: 10px 0;
      font-weight: bold;
      text-align: left;
    }

    td {
      padding: 10px 0;
      text-align: right;
    }

    p {
      margin: 0;
      font-size: 15px;
      line-height: 23px;
    }

    &--attributes {
      width: calc(50% - 15px);

      @media (max-width: 1024px) {
        max-width: 100%;
        width: 600px;
      }
    }
  }

  &__refund-info {
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
  }

  .woocommerce-product-details__short-description {
    margin: 20px 0;
    font-size: 15px;
    line-height: 23px;
  }

  .out-of-stock {
    color: var(--color-red);
    font-weight: bold;
  }

  &__files {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__file {
    margin-bottom: 20px;

    a {
      color: var(--color-blue);
      font-weight: bold;
      font-size: 15px;
      line-height: 16px;
      display: flex;
      gap: 10px;
    }

    img {
      width: 19px;
      height: 19px;
      object-fit: contain;
      display: block;
    }
  }

  &__info-panel-wrapper {
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
    margin-top: 30px;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }

  &__info-panel {
    border: solid 1px var(--color-border);
    padding: 16px;
    border-radius: 5px;
    width: calc(50% - 15px);
    min-height: 116px;

    @media (max-width: 800px) {
      width: 321px;
      max-width: 100%;
    }

    &-icon {
      height: 40px;
      max-width: 62px;
      display: flex;
      align-items: center;
      justify-content: center;

      &-img {
        object-fit: contain;
        display: block;
        max-height: 56px;
      }
    }

    &-heading {
      font-size: 12px;
      line-height: 15px;
    }

    &-top {
      display: flex;
      align-items: center;
      gap: 14px;
      margin-bottom: 16px;
    }

    &-text,
    &-text * {
      font-size: 11px;
      line-height: 14px;
      margin: 0;

      a {
        font-weight: bold;
        text-decoration: underline;

        &:hover {
          color: var(--color-blue);
        }
      }
    }
  }

  &.product-type-variable {
    .price {
      display: none !important;
    }

    .woocommerce-variation-price {
      font-size: 22px;
      font-weight: bold;
      display: flex;
      gap: 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      max-width: 300px;
      overflow: hidden;
      width: fit-content;
      display: block;
      max-width: none;

      bdi {
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
      }
    }
  }
}

.product-gallery {
  &__slider {
    height: 464px;
    border: solid 1px var(--color-border);
    position: relative;
    overflow-x: hidden;

    @media (max-width: 800px) {
      height: calc(100vw - 30px);
      max-height: 60vw;
    }

    .slick-list,
    .slick-track {
      height: 100%;
    }

    .slick-prev {
      left: 20px;
      position: absolute;
    }

    .slick-next {
      right: 20px;
      position: absolute;
    }
  }

  &__item {

    a,
    img {
      height: 100%;
    }

    img {
      object-fit: contain;
    }
  }

  &__slider-nav {
    height: 171px;
    width: 100%;
    overflow: hidden;

    @media (max-width: 1400px) {
      height: 120px;
    }

    @media (max-width: 800px) {
      height: 80px;
    }

    .slick-list,
    .slick-track {
      height: 100%;
    }

    @media(max-width: 500px) {
      gap: 10px;
    }
  }

  &__nav {
    &-item {
      border: solid 1px var(--color-border);
      height: 100%;
      margin-left: 30px;
      width: 204px;
      background-color: var(--color-white);

      @media (max-width: 1400px) {
        width: 175px;
      }

      @media (max-width: 800px) {
        width: 120px;
        margin-left: 10px;
      }

      a,
      img {
        height: 100%;
        width: auto;
      }

      img {
        object-fit: contain;
      }
    }
  }
}

body.single-product .tabs {
  @media (max-width: 1400px) {
    margin-left: auto;
    margin-right: auto;
  }
}