:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #fbfbfb;
  --color-primary-blue: #00aaf1;
  --color-primary-darkblue: #28166f;
  --color-primary-green: #00cd97;
  --color-secondary-blue: #84e3d6;
  --color-secondary-blue-30: #00a9f433;
  --color-secondary-green: #00cc99;
  --color-border: #d9d9d9;
  --color-red: #ec0028;
}

* {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  padding-top: 141px;
  /* Adjusted for fixed header */

  @media (max-width: 1024px) {
    padding-top: 80px;
  }
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 57px;
  margin-bottom: 12px;

  @media (max-width: 1024px) {
    font-size: 40px;
    line-height: 46px;
  }

  @media (max-width: 800px) {
    font-size: 32px;
    line-height: 36px;
  }
}

h3 {
  font-size: 31px;
  line-height: 39px;
  margin-bottom: 20px;

  @media (max-width: 1024px) {
    font-size: 26px;
    line-height: 30px;
  }

  @media (max-width: 800px) {
    font-size: 22px;
    line-height: 26px;
  }
}

p {
  font-size: 15px;
  line-height: 23px;
}

a {
  text-decoration: none;
  transition-duration: 0.3s;

  a:hover {
    color: var(--color-primary-blue);
    text-decoration: underline;
  }
}

img {
  object-fit: contain;
  display: block;
}

section {
  position: relative;
  width: 100%;
  margin: 120px auto;

  @media (max-width: 1280px) {
    margin: 90px auto;
  }

  @media (max-width: 1024px) {
    margin: 60px auto;
  }

  &:first-of-type {
    margin-top: 40px;
  }
}

.wrapper {
  max-width: calc(1374px + 30px * 2);
  width: 100%;
  margin: auto;
  padding: 0 30px;

  @media (max-width: 1400px) {
    max-width: calc(1200px + 30px * 2);
  }

  @media (max-width: 800px) {
    padding: 0 15px;
    max-width: 100%;
  }

  /* remove padding from nested wrappers */
  .wrapper {
    padding: 0;
    width: 100%;
  }
}

.page-not-found {
  padding-block: max(3rem, 5vw);
}

.no-desktop {
  display: none;

  @media (max-width: 1024px) {
    display: block;
  }
}

.no-mobile {
  display: block;

  @media (max-width: 1024px) {
    display: none;
  }
}

#site-main.container {
  padding: 90px 0 0 0;
  margin: 141px auto 0 auto;
  max-width: 100%;
}

.scroll-anim-delay,
.scroll-anim {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;

  &.anim {
    opacity: 1;
    transform: none;
  }
}

.error-404 {
  &__link {
    margin: 30px auto 0 auto;
  }
}