.accordion {
  @include transition;
  border-bottom: solid 1px var(--color-border);
  position: relative;

  &__trigger {
    @include flex-center;
    @include flex-space-between;
    gap: 10px;
    padding: 25px 0;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    cursor: pointer;

    @media (max-width: 800px) {
      padding: 20px 0;
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__content {
    max-height: 0px;
    width: 100%;
    font-size: 15px;
    overflow: hidden;
    @include transition;
  }

  &__text {
    width: 100%;
    padding: 0 30px 20px 0;
    opacity: 1;
    @include transition;

    @media (max-width: 800px) {
      padding: 0 15px 10px 0;
      font-size: 12px;
      line-height: 22px;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    width: 18px;
    min-width: 18px;
    height: 10px;
    background-image: url('../../assets/imgs/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    @include transition;

    @media (max-width: 800px) {
      width: 15px;
      min-width: 15px;
    }
  }

  &.active {
    .accordion {
      &__text {
        opacity: 1;
      }

      &__icon {
        transform: rotate(180deg);
      }
    }
  }
}