body main .btn,
.wc-block-cart__submit-button {
  position: relative;
  height: 50px;
  width: fit-content;
  min-width: 200px;
  padding: 3px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right,
      var(--color-secondary-blue-30),
      var(--color-primary-blue)) 0% no-repeat padding-box !important;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  box-shadow: none !important;

  &>span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: solid 3px transparent;
    border-radius: 25px;
    color: var(--color-white);
    z-index: 3;
    transition-duration: 0.3s;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: solid 3px transparent;
    transition-duration: 0.3s;
    border-radius: 25px;
  }

  &::before {
    animation: 8s rotateAnimation linear infinite;
    background: linear-gradient(var(--color-primary-blue),
        var(--color-primary-blue)) padding-box,
      linear-gradient(var(--angle),
        var(--color-primary-blue),
        #ffffff,
        var(--color-primary-blue),
        #ffffff,
        var(--color-primary-blue),
        #ffffff) border-box;
  }

  &::after {
    opacity: 1;
    background: linear-gradient(var(--color-primary-blue),
        var(--color-primary-blue)) padding-box,
      linear-gradient(90deg,
        #73d0f7,
        #ffffff,
        var(--color-primary-blue),
        #ffffff,
        var(--color-primary-blue),
        #ffffff) border-box;
  }

  &:hover {

    // & > span {
    //   transform: scale(1.2);
    // }
    &::after {
      opacity: 0;
    }
  }

  &--arrow {
    width: 50px;
    height: 50px;
    min-width: unset;
    padding: 3px;

    span {
      height: 22px;
    }

    &-left {
      span {
        content: url('../../assets/imgs/arrow-left-white.svg');
      }
    }

    &-right {
      span {
        content: url('../../assets/imgs/arrow-right-white.svg');
      }
    }
  }

  &--panel {
    width: 202px;
    height: 202px;
    min-width: unset;
    border-radius: 0;

    &::before {
      border-radius: 0;
    }

    &__inner {
      border-radius: 0;

      &::before {
        border-radius: 0;
      }
    }
  }

  &--alternative,
  &--alternative span {
    background-color: var(--color-primary-darkblue);
    border: none;
    padding: 0;

    &::before,
    &::after {
      content: none !important;
    }
  }

  &.loading,
  &--loader {
    user-select: none;
    pointer-events: none;

    span {
      transform: none !important;

      &::after {
        content: '';
        display: block;
        background-color: var(--color-primary-blue);
        background-image: url(../../assets/imgs/loader.gif);
        background-position: center;
        background-size: 24px;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &.disabled {
    pointer-events: none !important;
    user-select: none !important;
    opacity: 0.5 !important;
  }
}

@keyframes rotateAnimation {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.single_add_to_cart_button {
  &+added_to_cart {
    display: none;
  }
}