body {
  main {
    .wc-block-cart__submit-container {
      text-align: center;
      margin-top: 15px;
    }

    .wc-block-cart__submit-button {
      // width: fit-content !important;
      margin: auto !important;
    }

    .wc-block-components-button {
      padding: 0 50px !important;
      height: 50px !important;
    }

    .wc-block-components-button__text {
      z-index: 1;
      color: var(--color-white);
    }

    .wc-block-cart-items {
      .wc-block-cart-item__remove-link {
        color: var(--color-red) !important;
      }
    }

    .remove {
      color: var(--color-red) !important;
      text-decoration: underline;
    }

    .quantity-wrapper {
      width: fit-content;
    }

    .wc-block-components-shipping-calculator-address {
      text-align: center;
    }

    .wc-block-cart__submit,
    .wc-block-components-shipping-calculator,
    .wc-block-cart-item__product {
      .btn {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
      }

      .wc-block-cart-item__quantity {
        .wc-block-components-quantity-selector {
          display: flex;
          height: 46px;
          width: 100%;
          max-width: 204px;
          border: none;

          &::after {
            content: none;
          }

          &__button {
            background: var(--color-white);
            min-width: 60px;
            padding: 0;
            display: block;
            transition-duration: 0.15s;
            cursor: pointer;
            border: solid 1px var(--color-primary-blue);
            background: var(--color-white);
            height: 100%;
            text-align: center;
            opacity: 1;

            &:hover {
              background-color: var(--color-primary-blue);
              color: var(--color-white);
              font-size: 20px;
            }
          }

          &__button--minus {
            border-radius: 23px 0 0 23px;
            border-right: none;
          }

          &__button--plus {
            border-radius: 0 23px 23px 0;
            border-left: none;
          }

          &__input {
            border: solid 1px var(--color-primary-blue);
            background: var(--color-white);
            height: 100%;
            text-align: center;
            border-left: none;
            border-right: none;
            width: 100%;

            &:active,
            &:focus,
            &:focus-visible {
              outline-color: var(--color-primary-blue);
              z-index: 1;
            }
          }
        }
      }
    }

    .wc-blocks-components-select {
      svg {
        display: none;
      }
    }

    .wc-blocks-components-select__container {
      height: fit-content;
    }

    .wc-block-checkout__form {

      input[type='text'],
      input[type='email'],
      input[type='tel'] {
        border-color: var(--color-border) !important;
        border-radius: 5px !important;
        padding: 12px 10px !important;
        font-size: 17px !important;
        outline-color: var(--color-primary-blue) !important;
      }

      .has-error {
        input {
          border-color: #cc1818 !important;
        }
      }

      .is-active {
        label {
          outline: none !important;
        }
      }
    }
  }
}

.modal,
.widget_shopping_cart_content {
  ul.woocommerce-mini-cart {
    list-style: none;
    padding: 0;
  }

  li.woocommerce-mini-cart-item {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px 30px 10px;
    position: relative;
    border: solid 1px var(--color-border);
    margin-bottom: 10px;
    overflow: hidden;

    @media (max-width: 1024px) {
      height: fit-content;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 10px 40px 20px 10px;
    }

    img {
      height: 80px;
      width: 80px;
      display: block;
      object-fit: contain;
    }

    a:not(.remove) {
      display: flex;
      align-items: center;
      gap: 20px;
      text-align: left;
      background-color: var(--color-white);

      @media (max-width: 1024px) {
        gap: 10px;
      }
    }

    .remove {
      position: absolute;
      top: 10px;
      bottom: auto;
      right: 10px;
      margin: auto;
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-weight: bold;
      font-size: 20px;
      color: var(--color-red);
    }

    .quantity {
      display: flex;
      white-space: nowrap;
      justify-content: flex-end;
      font-weight: bold;
      min-width: 140px;
      font-size: 19px;
      text-align: right;
      margin-left: 20px;
      order: 1;

      @media (max-width: 600px) {
        margin: 0 0 0 auto;
        text-align: right;
        position: relative;
        right: -30px;
      }
    }

    .variation {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%;
      display: flex;
      height: fit-content;
      margin: 0 0 0 110px;
      overflow: hidden;
      white-space: nowrap;

      &__item {
        display: flex;
        align-items: center;
      }

      @media (max-width: 600px) {
        margin: 0;
        position: static;
        white-space: normal;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }

      dt,
      dd,
      p {
        margin: 0;
      }

      dt {
        margin: 0 5px 0 0;
        height: fit-content;
      }

      dd {
        margin: 0 10px 0 0;
        height: fit-content;
      }
    }
  }

  .modal__custom-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
  }

  .modal__custom-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    white-space: nowrap;

    .btn {
      width: 100%;
      max-width: 250px;
    }
  }
}

.wc-block-cart__submit-container {
  width: fit-content !important;
  margin: 30px auto 0 auto !important;
}

.wc-block-cart__empty-cart__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 42px !important;

  @media (max-width: 1024px) {
    font-size: 32px !important;
  }

  @media (max-width: 800px) {
    font-size: 24px !important;
  }

  &::before {
    content: none !important;
  }
}

.wc-block-components-address-form__address_2-toggle {
  display: none !important;

  &.is-active {
    display: block !important;
  }
}

.wp-block-heading.has-text-align-center {
  font-size: 44px;
  line-height: 55px;
  margin-bottom: 20px;
  text-align: center;

  @media (max-width: 800px) {
    font-size: 32px;
    line-height: 40px;
  }
}

.wc-block-components-checkout-step {
  .wc-block-components-checkout-step__heading {
    position: relative;

    &::before {
      content: none;
      position: absolute;
      left: -32px;
      top: 0;
      width: 30px;
      height: 30px;
      color: var(--color-black);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-weight: bold;
      margin-top: -3px;
      font-size: 19px;
    }
  }

  &:nth-of-type(1) {
    .wc-block-components-checkout-step__heading::before {
      content: '1. ';
    }
  }

  &:nth-of-type(2) {
    .wc-block-components-checkout-step__heading::before {
      content: '2. ';
    }
  }

  &:nth-of-type(3) {
    .wc-block-components-checkout-step__heading::before {
      content: '3. ';
    }
  }
}

.wc-block-components-address-card__address-section {
  span {
    width: 100% !important;
  }
}

.my-checkout__title+.my-checkout__title {
  display: none !important;
}

.woocommerce-checkout-review-order-table {
  border-spacing: 0 15px;
  border-collapse: separate;
  margin-bottom: 60px;

  .woocommerce-shipping-totals-title {
    th {
      font-size: 31px;
      line-height: 39px;
      margin-bottom: 20px;

      &::before {
        content: "3. ";
        font-weight: bold;
        font-size: 31px;
        line-height: 39px;
        margin-bottom: 20px;

        @media (max-width: 1024px) {
          font-size: 26px;
          line-height: 30px;
        }

        @media (max-width: 800px) {
          font-size: 22px;
          line-height: 26px;
        }
      }
    }
  }
}

.cart_item {

  td {
    border-bottom: solid 1px var(--color-border);
    background-color: var(--color-white);
    padding: 20px 0;

    // &.product-name {
    //   border-radius: 5px 0 0 5px;
    //   border-right: none;
    // }

    // &.product-total {
    //   border-radius: 0 5px 5px 0;
    //   border-left: none;
    //   white-space: nowrap;
    // }

    .product-thumbnail-checkout {
      width: 80px;
      min-width: 80px;
      max-width: 80px;
      height: 80px;
      min-height: 80px;
      max-height: 80px;
      margin-right: 15px;
      display: block;
      object-fit: contain;
    }

    .product-name-wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;

      @media (max-width: 500px) {
        gap: 5px;
      }
    }
  }

  td.product-name {
    padding-right: 20px;
  }

  .product-thumbnail {
    width: 140px;
    padding-right: 20px;
    vertical-align: top;
  }
}

.cart_item:first-of-type {
  td {
    border-top: solid 1px var(--color-border);
  }
}

.woocommerce-form-coupon {
  width: fit-content;
  padding: 20px;
  background-color: var(--color-gray);
  border-radius: 5px;
  gap: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    margin: 15px auto 30px auto;
    width: 100%;
  }

  .input-text {
    width: 200px;
  }

  p,
  .btn {
    margin-bottom: 0;
  }
}

.cart-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 90px;
  margin-top: 30px;

  @media (max-width: 1024px) {
    flex-direction: column;

    table {
      width: 100%;
    }
  }

  h1,
  h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .product-name-item {
    a {
      font-weight: bold;

      &:hover {
        color: var(--color-primary-blue);
      }
    }
  }
}

.cart_totals {
  display: flex;
  gap: 15px;
  flex-direction: column;

  @media (max-width: 500px) {
    h2 {
      margin-bottom: 10px;
    }
  }
}

.coupon {
  background-color: var(--color-gray);
  border-radius: 5px;
  border: solid 1px var(--color-border);
  padding: 15px;

  label {
    margin-bottom: 15px;
  }

  div {
    display: flex;
    gap: 30px;
    align-items: center;

    @media (max-width: 500px) {
      flex-direction: column;
      gap: 10px;
    }

    input {
      width: 200px;
    }

    .btn {
      white-space: nowrap;
    }

  }
}

.checkout-shipping {
  &__ul {
    padding: 0;
    list-style: none;

    li {
      border-radius: 5px;
      padding: 15px;
      background-color: var(--color-gray);
    }
  }
}

.woocommerce-cart-form {
  width: calc(100% - 400px);

  @media (max-width: 1024px) {
    width: 100%;
    margin-bottom: 30px;
    max-width: 700px;
  }

  &_contents {
    width: 100%;
  }
}

.cart-totals-wrapper {
  width: 400px;

  @media (max-width: 1024px) {
    width: 100%;
    max-width: 700px;

    table {
      max-width: 300px;
    }
  }

  td,
  th {
    vertical-align: top;
  }

  td {
    padding: 5px 0;
    text-align: right;
  }

  th {
    padding: 5px 5px 5px 0;
  }
}

.payment_methods,
.woocommerce-shipping-methods {
  padding: 0;
  list-style: none;

  input {
    display: none;
  }

  label {
    border-radius: 5px;
    padding: 15px;
    background-color: var(--color-gray);
    display: block;
    margin: 0 0 15px 0;
    transition-duration: .3s;
    cursor: pointer;
    border: solid 1px var(--color-gray);
    text-align: left;

    &:hover {
      background-color: var(--color-white);
      border: solid 1px var(--color-primary-blue);
    }

    @media (max-width: 1024px) {
      max-width: 320px;
    }

    @media (max-width: 500px) {
      max-width: unset;
      width: 100%;
    }
  }

  input:checked+label {
    background-color: var(--color-primary-blue);
    border: solid 1px var(--color-primary-blue);
    color: var(--color-white);

    svg * {
      transition-duration: .3s;
      fill: var(--color-white) !important;
      stroke: var(--color-white) !important;
    }
  }

}

// .wc-proceed-to-checkout,
// .update-cart-button-wrapper {
// @media (max-width: 1024px) {
//   position: fixed !important;
//   bottom: 0 !important;
//   width: 50%;
//   padding: 15px;
//   background-color: var(--color-white);
//   z-index: 999;
//   border-top: solid 1px var(--color-border);
//   display: flex;
//   height: 80px;
//   align-items: center;
// }

// @media (max-width: 500px) {
//   .btn {
//     white-space: nowrap;
//     padding: 0;
//   }
// }
// }

.wc-proceed-to-checkout {
  padding-left: 0;

  a {
    margin: auto;
  }

  @media (max-width: 1024px) {
    .btn {
      margin: auto;
    }
  }

  // @media (max-width: 500px) {
  //   padding: 15px;
  //   width: 100%;
  //   left: 0;

  //   .btn {
  //     margin: 0 auto;
  //   }
  // }
}

.update-cart-button-wrapper {
  @media (max-width: 1024px) {
    left: 0;
    justify-content: flex-start;
    margin: 0 !important;
    padding-right: 0;
  }

  @media (max-width: 500px) {
    position: static !important;
    border-top: none;
    padding: 0;
    margin: auto !important;
    text-align: center;
    width: 100%;
    display: block;
  }
}

.cart-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;

  @media (max-width: 1280px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .coupon {
    @media (max-width: 500px) {
      text-align: center;
      width: 100%;
    }
  }
}

.cart_totals {
  table {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px var(--color-border);

    @media (max-width: 1024px) {
      width: 100%;
      max-width: unset;
    }
  }
}

.order-total {
  vertical-align: top;

  th {
    font-size: 1.4em;
  }

  td {
    text-align: right;
    display: flex;
    flex-direction: column;

    strong {
      font-size: 1.4em;
    }
  }
}

.woocommerce-terms-and-conditions-wrapper {
  padding-bottom: 2opx;
  margin-bottom: 20px;
  border-bottom: solid 1px var(--color-border);
}

#shipping_address_2 {
  display: none !important;
}

.payment_methods {
  li {
    label {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    svg,
    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
      display: block;
    }
  }

  p {
    font-size: 13px;
  }
}

.woocommerce-terms-and-conditions-wrapper p,
.my-checkout__ssl {
  font-size: 13px;
}

.woocommerce-privacy-policy-text {
  a {
    margin-left: 0;
  }
}

#post_10 {

  h1,
  .cart-empty.woocommerce-info {
    text-align: center;
  }

  h1 {
    padding-bottom: 30px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px var(--color-border);
  }

  .cart-empty.woocommerce-info {
    font-size: 24px;
    font-weight: bold;
  }

  .return-to-shop {
    text-align: center;
    margin: auto;
    width: fit-content;
    margin-bottom: 90px;
  }
}

#customer_details {
  &>div {
    width: 100%;
  }

  .woocommerce-billing-fields {
    width: 100%;
  }
}

.checkout-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 90px;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 60px;
  }

  @media (max-width: 800px) {
    gap: 30px;
  }
}

.checkout__resume,
.checkout__details {
  width: calc(50% - 45px);

  @media (max-width: 1024px) {
    width: 100%;
  }

  .form-row {
    width: calc(50% - 10px);

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  #billing_nip_toggle_field {
    width: 100%;
  }
}

.woocommerce-additional-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper,
.woocommerce-billing-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

#shipping_address_2_field {
  display: none !important;
}

.woocommerce-checkout-payment,
.woocommerce-additional-fields__field-wrapper {

  .form-row,
  textarea {
    width: 100%;
  }
}

.woocommerce-shipping-totals-title {
  th {
    padding-top: 40px;

    @media (max-width: 1024px) {
      font-size: 26px !important;
      line-height: 30px !important;
    }

    @media (max-width: 800px) {
      font-size: 22px !important;
      line-height: 26px !important;
    }
  }
}

.order-total {

  th,
  td {
    border-top: solid 1px;
    padding-top: 30px;
  }

  @media (max-width: 1024px) {

    th,
    .woocommerce-Price-amount {
      font-size: 20px;
    }
  }

  @media (max-width: 800px) {

    th,
    .woocommerce-Price-amount {
      font-size: 16px;
    }
  }
}

.order-agreements {
  margin: 30px 0;
}

.woocommerce-additional-fields__field-wrapper {

  #order_agreement_1_field,
  #order_agreement_2_field {
    display: none !important;
  }
}


.shipping-calculator-button {
  transition-duration: .3s;
  margin: 0 0 20px auto;
  display: inline-block;
}

@media (max-width: 500px) {

  .cart-totals-wrapper,
  .woocommerce-cart-form {
    h2 {
      font-size: 24px;
    }
  }

  .woocommerce-cart-form__contents {
    thead {
      display: none;
    }

    tbody {
      tr:not(:last-of-type) {
        display: flex;
        flex-direction: column;
        border: solid 1px var(--color-border);
        padding: 15px;
        margin-bottom: 15px;

        td {
          border: none;
        }

        .product-thumbnail {
          border: none !important;
          padding: 0;
          margin: 0;
          width: 50%;
          max-width: 200px;
          margin: auto;
        }

        .product-name {
          border: none !important;
          padding: 10px 0;
          width: 100%;

          .product-name-wrapper {
            position: relative;

            .remove {
              position: absolute;
              right: 0;
              bottom: 10px;
            }
          }
        }

        .product-price {
          border-bottom: 0;
          border-top: solid 1px var(--color-border);
          padding-bottom: 0;
          text-align: center;
          font-weight: bold;
          font-size: 20px;
          padding-top: 15px;
        }
      }
    }
  }

  .woocommerce-shipping-methods {
    width: 100%;
    margin: 15px auto;

    label {
      max-width: unset;
      width: 100%;
    }
  }

  .cart-wrapper {
    gap: 30px;
  }

  .woocommerce-shipping-totals-title th {
    padding-top: 15px;
  }

  .woocommerce-shipping-destination {
    text-align: left;
  }

  .shipping-calculator-button {
    display: block;
    width: fit-content;
    transition-duration: .3s;
    margin: 0 0 20px 0;
  }

  .checkout__resume {
    .product-total {
      text-align: right;
    }

    .cart-subtotal td {
      text-align: right;
    }
  }

  .woocommerce-checkout-review-order-table {
    display: flex;
    flex-direction: column;

    thead {
      display: none;
    }

    tfoot {
      display: flex;
      flex-direction: column;
      width: 100%;

      tr {
        display: flex;
        flex-direction: column;

        &.order-total {
          display: flex;
          flex-direction: row;
          width: 100%;

          th {
            width: 150px;
          }

          td {
            width: calc(100% - 150px);
          }
        }
      }
    }

    tbody {
      display: flex;
      flex-direction: column;
      width: 100%;

      .product-name {
        &>div {
          flex-direction: column;
        }
      }

      td {
        border: none;
      }

      tr {
        display: flex;
        flex-direction: column;
        border: solid 1px var(--color-border);
        padding: 15px;
        margin-bottom: 15px;
        position: relative;

        .product-quantity {
          position: absolute;
          bottom: 15px;
          left: 15px;
        }
      }

      .product-thumbnail-checkout {
        width: 140px;
        height: 140px;
        min-width: 140px;
        min-height: 140px;
        max-width: 50%;
        margin: 0 auto 10px auto;
      }

      .product-thumbnail-checkout+div {
        width: 100%;

        .variation {
          width: 100%;
          margin-bottom: 0;
          margin-top: 5px;
          background-color: var(--color-gray);
          border-radius: 5px;
          padding: 10px;

          &__item {
            display: flex;
            align-items: center;
            gap: 5px;

            * {
              margin-bottom: 0;
            }
          }
        }
      }

      .product-total {
        padding: 0;
        font-weight: bold;
        border-top: solid 1px var(--color-border);
        border-radius: 0;
        padding-top: 13px;
      }
    }
  }

}