input[type='search'],
input[type='text'],
input[type='tel'],
input[type='password'],
input[type='email'],
textarea {
  width: 350px;
  max-width: 100% !important;
  border-radius: 5px !important;
  background-color: var(--color-white) !important;
  border: solid 1px var(--color-border) !important;
  padding: 0 10px !important;
  font-size: 13px !important;

  &:focus &:focus-visible,
  &:focus-within {
    box-shadow: none !important;
    outline-width: 2px !important;
    border-color: var(--color-primary-blue) !important;
    outline-color: var(--color-primary-blue) !important;
  }
}

input[type='search'],
input[type='text'],
input[type='tel'],
input[type='password'],
input[type='email'] {
  height: 43px !important;
}

.dgwt-wcas-no-submit .dgwt-wcas-sf-wrapp input[type='search'] {
  width: 350px;
  height: 33px;
  border-radius: 17px;
  background-color: transparent;
  border: solid 1px var(--color-border);
}

.dgwt-wcas-search-input::placeholder {
  color: #888888 !important;
  opacity: 1 !important;
}

.input {
  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 100%;
    max-width: 204px;

    &-text {
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      margin: 0 -3px;
      z-index: 1;
    }

    @media (max-width: 500px) {
      height: 33px;
    }

    input[type='number'] {

      &:active,
      &:focus,
      &:focus-visible {
        outline-color: var(--color-primary-blue);
        z-index: 1;
      }
    }

    &-text,
    &-plus,
    &-minus {
      border: solid 1px var(--color-primary-blue);
      background: var(--color-white);
      height: 100%;
      text-align: center;
    }

    &-text {
      border-left: none;
      border-right: none;
      width: 100%;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &-minus,
    &-plus {
      background: var(--color-white);
      min-width: 60px;
      padding: 0;
      display: block;
      transition-duration: 0.15s;
      z-index: 2;

      @media (max-width: 500px) {
        min-width: 33px;
        width: 33px;
      }

      span {
        font-size: 10px;
        line-height: 20px;
        transition-duration: 0.15s;
      }
    }

    &-minus {
      border-radius: 23px 0 0 23px;
      border-right: none;
    }

    &-plus {
      border-radius: 0 23px 23px 0;
      border-left: none;
    }
  }
}

#page-contact form {
  .input-custom-wrapper {
    input {
      width: 100%;
    }
  }

  .input-custom-wrapper:nth-of-type(1) {
    width: 100%;
  }

  .input-custom-wrapper:nth-of-type(2),
  .input-custom-wrapper:nth-of-type(3) {
    width: calc(50% - 15px);
  }

  .input-custom-wrapper:nth-of-type(4) {
    width: 100%;
  }

  .wpcf7-not-valid-tip {
    margin-top: 5px;
    margin-bottom: -19.5px;
    font-size: 10px;
    color: var(--color-red);
  }

  .acceptance {
    margin: 15px 0;
    width: 100%;
    display: block;

    .wpcf7-list-item {
      margin: 0;
    }

    input {
      margin: 0 10px 0 0;
      width: 20px;
      height: 20px;
      border: solid 1px var(--color-black);
      cursor: pointer;
    }

    .form-check-input+span {
      font-size: 13px;
      line-height: 16px;
      margin: 0;
      padding: 0;

      padding-left: 30px;
    }

    .wpcf7-list-item-label {
      line-height: 20px;
      cursor: pointer;
    }

    a {
      text-decoration: underline;
      margin-left: 4px;

      &:hover {
        color: var(--color-primary-blue);
      }
    }
  }
}

.password-input {
  position: relative;
  height: fit-content;
  width: 100%;
  display: block;
}

.show-password-input {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--color-black);
  font-size: 20px;
  background-image: url(../../assets/imgs/icon-show-password.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.woocommerce-form-login {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;

  @media (max-width: 500px) {
    max-width: unset;

    .clear {
      display: none;
    }
  }

  .btn {
    margin-top: 20px;
  }
}

input+label {
  outline: none !important;
}

.wc-block-components-text-input.is-active label {
  transform: translateY(3px) scale(.6) !important;
}

#wc-block-components-totals-coupon__input-coupon,
.wc-block-components-textarea {
  border-color: var(--color-border) !important;
  outline-color: var(--color-primary-blue) !important;
  border-radius: 5px !important;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  @media (max-width: 500px) {
    margin-bottom: 5px;
  }

  a {
    text-decoration: underline;
    margin-left: 4px;

    &:hover {
      color: var(--color-primary-blue);
    }
  }
}

.form-row-checkbox {
  margin: 10px 0 15px 0 !important;
}

.woocommerce-form__label-for-checkbox,
.wpcf7-acceptance .wpcf7-list-item-label,
.form-row-checkbox label {
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-black);
  display: block;
  padding-left: 30px;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: solid 1px var(--color-border);
    border-radius: 2px;
    background-color: var(--color-white);
    border-radius: 2px;
    vertical-align: middle;
    margin-right: 10px;
    left: 0;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../../assets/imgs/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    background-color: var(--color-primary-blue);
    border: solid 1px var(--color-primary-blue);
    border-radius: 2px;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    transition-duration: .3s;
    opacity: 0;
  }
}

.woocommerce-form__label-for-checkbox,
.wpcf7-acceptance,
.form-row-checkbox {
  input[type="checkbox"] {
    display: none;
  }
}

.woocommerce-form__label-for-checkbox,
.wpcf7-acceptance {
  span {
    display: inline-block;
  }

  input[type="checkbox"]:checked+span {
    border-color: var(--color-primary-blue);

    &::after {
      opacity: 1;
    }
  }
}

.create-account,
.woocommerce-shipping-fields,
.form-row-checkbox {
  position: relative;

  label.checked {
    &::after {
      opacity: 1;
    }
  }
}

.order-agreements .woocommerce-validated {
  label {
    &::after {
      opacity: 1;
    }
  }
}

#billing_address_2_field {
  display: none !important;
}

#place_order {

  &::before,
  &::after {
    content: "Kupuję i płacę";
    color: var(--color-white);
  }
}

.checkout-inline-error-message {
  color: var(--color-red);
  font-size: 10px;
  line-height: 16px;
  margin: 3px 0;
}

.form-row-checkbox {
  .checkout-inline-error-message {
    position: static;
    margin: 5px 0 0 32px;
  }
}

.input-custom-wrapper {
  width: 100%;
}

.input-trigger {
  position: relative;

  input {
    width: 100%;
  }

  label {
    width: fit-content;
    position: absolute;
    left: 10px;
    top: 11px;
    height: fit-content;
    transition-duration: .3s;
    transform-origin: left top;
    cursor: text;
    z-index: 1;
    user-select: none;
    font-size: 13px;
    color: var(--color-black);

  }

  &.has-value,
  &.focused {
    label {
      transform: translateY(-8px) scale(.6);
    }
  }

}

#billing_country_field label {
  font-size: 13px;
}

.input--quantity {
  @media (max-width: 500px) {
    width: 60px;
  }
}

/* ios fix */
.input-trigger {
  // transform: scale(1.23) !important;
  // transform-origin: left center !important;
  // display: block !important;

  input[type='search'],
  input[type='text'],
  input[type='tel'],
  input[type='password'],
  input[type='email'],
  textarea {
    width: 123% !important;
    font-size: 16px !important;
    transform: scale(0.8125) !important;
    transform-origin: left center !important;
    max-width: unset !important;
    height: 53px !important;
  }

  label {
    top: 16px;

    &[for="order_comments"],
    &[for="message"] {
      top: 24px;
      padding-top: 14px !important;
    }
  }

}

input[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}