input {

  &[type='search'],
  &[type='text'],
  &[type='email'] {
    width: 350px;
    max-width: 100%;
    height: 33px;
    border-radius: 5px;
    background-color: transparent;
    border-color: var(--color-border);
  }

  &:focus &:focus-visible,
  &:focus-within {
    box-shadow: none;
    outline-width: 2px;
    border-color: var(--color-primary-blue);
    outline-color: var(--color-primary-blue);
  }
}

.dgwt-wcas-no-submit .dgwt-wcas-sf-wrapp input[type='search'] {
  width: 350px;
  height: 33px;
  border-radius: 17px;
  background-color: transparent;
  border-color: var(--color-border);
}

.input {
  &__number {
    display: flex;
    height: 46px;
    width: 100%;
    max-width: 204px;

    input[type='number'] {

      &:active,
      &:focus,
      &:focus-visible {
        outline-color: var(--color-primary-blue);
        z-index: 1;
      }
    }

    &-text,
    &-plus,
    &-minus {
      border: solid 1px var(--color-primary-blue);
      background: var(--color-white);
      height: 100%;
      text-align: center;
    }

    &-text {
      border-left: none;
      border-right: none;
      width: 100%;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &-minus,
    &-plus {
      background: var(--color-white);
      min-width: 60px;
      padding: 0;
      display: block;
      transition-duration: 0.15s;

      &:hover {
        background-color: var(--color-primary-blue);
        color: #ffffff;

        // span {
        //   transform: scale(1.2);
        // }
      }

      span {
        font-size: 10px;
        line-height: 20px;
        transition-duration: 0.15s;
      }
    }

    &-minus {
      border-radius: 23px 0 0 23px;
      border-right: none;
    }

    &-plus {
      border-radius: 0 23px 23px 0;
      border-left: none;
    }
  }
}

form {
  input {

    &[type='search'],
    &[type='text'],
    &[type='email'] {
      height: 43px;
      padding: 0 10px;
      width: 100%;
      font-size: 13px;
    }
  }

  span:nth-of-type(1) {
    width: 100%;
  }

  span:nth-of-type(2),
  span:nth-of-type(3) {
    width: calc(50% - 15px);
  }

  span:nth-of-type(4) {
    width: 100%;
  }

  textarea.form-control {
    height: 130px;
    font-size: 13px;
  }

  .wpcf7-not-valid-tip {
    margin-top: 5px;
    margin-bottom: -19.5px;
    font-size: 13px;
    color: var(--color-red);
  }

  .acceptance {
    margin: 15px 0;
    width: 100%;
    display: block;

    .wpcf7-list-item {
      margin: 0;
    }

    input {
      margin: 0 10px 0 0;
      width: 20px;
      height: 20px;
      border: solid 1px var(--color-black);
      cursor: pointer;
    }

    .form-check-input+span {
      font-size: 13px;
      line-height: 16px;
      margin: 0;
      padding: 0;
    }

    .wpcf7-list-item-label {
      line-height: 20px;
      cursor: pointer;
    }

    a {
      text-decoration: underline;
    }
  }
}