input {
  &[type='search'],
  &[type='text'],
  &[type='email'] {
    width: 350px;
    height: 33px;
    border-radius: 17px;
    background-color: transparent;
    border-color: var(--color-border);
  }
}

.dgwt-wcas-no-submit .dgwt-wcas-sf-wrapp input[type='search'] {
  width: 350px;
  height: 33px;
  border-radius: 17px;
  background-color: transparent;
  border-color: var(--color-border);
}

.input {
  &__number {
    display: flex;
    height: 46px;
    width: 100%;
    max-width: 204px;

    input[type='number'] {
      &:active,
      &:focus,
      &:focus-visible {
        outline-color: var(--color-primary-blue);
        z-index: 1;
      }
    }

    &-text,
    &-plus,
    &-minus {
      border: solid 1px var(--color-primary-blue);
      background: var(--color-white);
      height: 100%;
      text-align: center;
    }

    &-text {
      border-left: none;
      border-right: none;
      width: 100%;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &-minus,
    &-plus {
      background: var(--color-white);
      min-width: 60px;
      padding: 0;
      display: block;
      transition-duration: 0.15s;

      &:hover {
        background-color: var(--color-primary-blue);
        color: #ffffff;

        span {
          transform: scale(1.2);
        }
      }

      span {
        font-size: 10px;
        line-height: 20px;
        transition-duration: 0.15s;
      }
    }

    &-minus {
      border-radius: 23px 0 0 23px;
      border-right: none;
    }

    &-plus {
      border-radius: 0 23px 23px 0;
      border-left: none;
    }
  }
}
