.modal {
  /* structure */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 99999;


  /* design */
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 0.3s;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &__box {
    /* structure */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    position: relative;
    margin: auto;
    visibility: hidden;
    opacity: 0;

    /* design */
    width: 800px;
    max-width: calc(100% - 30px);
    min-height: 400px;
    padding: 30px;
    border-radius: 5px;
    background-color: var(--color-white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;

    &--active {
      visibility: visible;
      opacity: 1;
    }
  }

  &__heading {
    /* design */
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
  }

  &__content {
    /* struncture */
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__close {
    /* structure */
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: none;
    border: none;

    /* design */
    width: 30px;
    height: 30px;
    color: var(--color-black);
    font-size: 30px;
    transition-duration: 0.3s;

    &:hover {
      color: var(--color-primary-blue);
    }
  }

  &--side {
    .modal {
      &__box {
        position: absolute;
        right: -860px;
        width: 860px;
        top: 80px;
        border-radius: 0;
        height: calc(100vh - 80px);
        max-width: 100%;
        justify-content: flex-start;
        padding-bottom: 0;

        &--active {
          right: 0;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        padding-bottom: 20px;
      }

      &__heading {
        @media (max-width: 600px) {
          font-size: 20px;
          width: 100%;
          text-align: left;
          line-height: normal;
        }
      }
    }
  }
}