.panel {
  position: relative;
  padding: 38px 8px;
  display: flex;
  align-items: flex-end;
  border: solid 1px var(--color-border-dark);
  background: var(--color-white);
  overflow: hidden;
  z-index: 1;
  width: 202px;
  height: 202px;
  min-width: unset;
  border-radius: 5px;
  @include transition;

  @media (max-width: 800px) {
    width: 310px;
    height: 310px;
    max-width: calc(100vw - 32px);
    max-height: calc(100vw - 32px);
    padding: 30px;
  }

  * {
    @include transition;
  }

  &__content {
    @include transition;
    position: relative;
    z-index: 3;
    text-align: center;
    margin: 0 auto auto auto;
  }

  &:hover {
    border-color: var(--color-darkblue);
    background-color: var(--color-darkblue);

    .panel__content {
      * {
        color: var(--color-white);
      }

      img {
        filter: contrast(0) brightness(2);
      }
    }
  }
}