.panel {
  position: relative;
  padding: 12px;
  display: flex;
  align-items: flex-end;
  border: solid 1px var(--color-border);
  background: var(--color-white);
  overflow: hidden;
  z-index: 1;
  width: 202px;
  height: 202px;
  min-width: unset;
  transition-duration: 0.3s;

  @media (max-width: 800px) {
    width: 160px;
    height: 160px;
  }

  * {
    transition-duration: 0.3s;
  }

  &__content {
    position: relative;
    z-index: 3;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    border: solid 3px transparent;
    transition-duration: 0.3s;
    opacity: 0;
    z-index: 2;
    animation: 8s rotateAnimation linear infinite;
    background: linear-gradient(var(--color-primary-blue),
        var(--color-primary-blue)) padding-box,
      linear-gradient(var(--angle),
        var(--color-primary-blue),
        #ffffff,
        var(--color-primary-blue),
        #ffffff,
        var(--color-primary-blue),
      ) border-box;
  }

  &:hover {
    border-color: transparent;

    &::before {
      opacity: 1;
    }

    .panel__content {
      * {
        color: var(--color-white);
      }

      img {
        filter: contrast(0) brightness(2);
      }
    }
  }
}

@keyframes rotateAnimation {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}