select,
.wc-blocks-components-select .wc-blocks-components-select__select {
  background-color: var(--color-white);
  font-size: 17px;
  border: solid 1px var(--color-border-dark) !important;
  border-radius: 5px;
  height: 47px;
}

.wc-block-components-checkout-step__content {
  .wc-blocks-components-select__select {
    .select {
      width: 100%;
    }
  }
}

.select {
  position: relative;
  width: 300px;
  user-select: none;
  z-index: 99998;

  &-selected {
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    border: solid 1px var(--color-border);
    border-radius: 5px;
    height: 47px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      content: "";
      width: 12px;
      height: 6px;
      display: inline-block;
      margin-left: 8px;
      line-height: 10px;
      background: url(../imgs/arrow-down.svg);
      background-size: contain;
    }
  }

  &.active {
    z-index: 99999;
  }

  &-placeholder {
    color: var(--color-border) !important;
    background-color: var(--color-white) !important;
    cursor: auto !important;
  }

  &-items {
    position: absolute;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 0 0 5px 5px;
    z-index: 9999999;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    font-size: 15px;
    line-height: 20px;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.15s;

    div {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: var(--color-blue);
        color: var(--color-white);
      }
    }
  }

  &.active {
    .select {
      &-items {
        visibility: visible;
        opacity: 1;
        border-top: 0;
      }

      &-selected {
        border-bottom: 0;
        border-radius: 5px 5px 0 0;
      }

      &-selected:after {
        border-color: transparent transparent #3498db transparent;
      }
    }
  }

  &--secondary {
    .select {
      &-selected {
        margin: 0 0 0 auto;
        border: none;
        padding: 0;
        text-align: right;
        width: fit-content;
        font-weight: bold;
      }

      &-items {
        margin-top: 5px;
        border-top: solid 1px var(--color-border) !important;
        border-radius: 5px;
      }
    }
  }

  &-label {
    position: relative;
    left: unset;
    top: unset;
  }
}