.socials {
  &__item {
    @include flex-center;
    gap: 15px;
  }

  &__icon {
    width: 23px;
    height: 23px;
    object-fit: contain;
  }

  &__link {
    @include flex-center;
    gap: 15px;
    color: var(--color-gray);
    text-decoration: none;
    font-size: 15px;
    line-height: 23px;

    &:hover {
      opacity: .7;
    }
  }
}