.tabs {
  margin: 120px 0;

  &__list {
    display: flex;
    gap: 120px;
    padding: 0;

    @media (max-width: 1400px) {
      gap: 90px;
    }

    @media (max-width: 1280px) {
      gap: 60px;
    }

    @media (max-width: 1024px) {
      gap: 30px;
    }

    @media (max-width: 800px) {
      gap: 15px;
      overflow-x: auto;
      padding-bottom: 15px;
      margin-bottom: 0;
    }
  }
}

.tab {
  &__trigger {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-border);
    font-weight: bold;
    font-size: 29px;
    line-height: 42px;

    @media (max-width: 1024px) {
      font-size: 22px;
      line-height: 30px;
    }

    @media (max-width: 800px) {
      font-size: 18px;
      line-height: 24px;
      white-space: nowrap;
    }

    &:hover,
    &.active {
      color: var(--color-blue);
    }
  }

  &__content {
    padding: 50px 0 0 0;

    @media (max-width: 1024px) {
      padding-top: 30px;
    }
  }

  &__heading {
    font-size: 19px;
    line-height: 42px;
    margin-bottom: 10px;
  }
}